html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #69c;
}

#content {
    flex: 1 0 auto;
}

#footer {
    background-color: #69c;
    flex-shrink: 0;
    min-height: 1rem;
}

.mou {
    color: #999;
    text-transform: uppercase;
}

.recommendation .alert-heading {
    text-transform: uppercase;
}

figure {
    display: block !important;
    padding: 1.5rem;
}

pre {
    font-size: 1rem;
}

code {
    color: #666;
}

.copy-clipboard {
    display: block;
    position: relative;
}

.copy-clipboard .btn {
    position: absolute;
    top: -.5rem;
    right: 1.5rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
}

.alert {
    border-radius: 1pt;
}

sup {
    color: #eee;
    padding: .25rem;
}

li {
    margin-bottom: 0.25rem;
}

.card, .card-header:first-child {
    border-radius: 1pt;
}
